main{
  margin-top: 95px;
  width: 100%;
}
body {
  position: sticky; 
  top: 0;
  margin: 0;

}

.pic1{
  width: 100%;
  height: 400px;
}
.about-fro-pic{
  overflow: hidden;
  position: relative;
}
.about-fro-pic::before{
  content: "";
  position: absolute;
  background-color:rgba(0,85,90,0.1);
  height: 300px;
  width: 100%;
}
.overlay-about{
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 85px;
  font-weight: 700;
  color: white;

}
.trust{
  color: rgba(0,85,90,255);
font-weight: 400;
margin-bottom: 40px;
font-size: 60px;
width: 700px;
}
.str{
  width: 510px;
  line-height: 2.3em;
  font-size: 17px;
}
.ab-story{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.tit-pic img{
  height: 450px;
  width: 480px;
}
.wham{
  margin-left: 70px;
  margin-top: 90px;
  color: goldenrod;
  font-weight: 600;
  font-size: 22px;
}
.aa{
  margin:20px 30px;
  font-weight: 700;
  
}