/* Global Styles */
* {
  font-family: Roboto, sans-serif, 'Playfair Display', sans-serif;
  padding: 0;
  margin: 0;

}
body {
  position: sticky; 
  top: 0;
  margin: 0;

}
#rotating-image {
  width: 100%;
  height: 100vh;
  transition: opacity 3s ease-in-out; /* Smooth transition of opacity over 1 second */
  opacity: 1; /* Set initial opacity */
}

.hidden {
  opacity: 0; /* Fully transparent when hidden */
}



/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 85, 90, 1);
  height: 90px;
  overflow: hidden;
  left: 0;
  width: 100%;
  z-index: 999;
  position: relative; 
  top: 0;
}



.top-pic{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 0px;
}
 
 .sec img{
  height: 100vh;
  width: 100%;
 }
 .sec{
  position: relative; 
  margin-top: 0px;
  width: 100%;
  height: 100vh;

  object-fit: contain;
  overflow: hidden;
  
 }


  
 
 .overlay h1{
  font-weight: 700;
  font-size: 50px;
  background-image: linear-gradient(170deg,  rgba(0, 85, 90, 0.7),  rgba(0, 85, 90, 0.7),rgb(193, 193, 4),yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

 .explore h1{
  margin: 60px 300px;
   font-size: 35px;
   font-style: normal;
   color: rgb(65, 65, 65);
 }
 .shoc{
  border:1px solid lightgray ;
  height: 1050px;
  
  
 }
.bole{
width: 100%;

height: 450px;
display: flex;
justify-content: space-around;
position:relative;

}
.bole-image{
width: 50%;
height: 90%;


position: relative;

overflow: hidden;

}
.images{
  position: relative;
}
.overlay-image{
  position: absolute;
  top:5px;
  left: 20px;
  font-size: 25px;
  
  

 
}
.images img{
width: 600px;
height: 460px;


}
.bole-expl{
  width: 400px;
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.site-name{
  font-size: 27px;
  color: rgba(0,85,90,255);
  padding: 10px 30px;
  font-weight: 700;
  text-align: center;

  
}
.site-explain{
  margin-right: 30px;
}
.button button{
  cursor: pointer;
  margin-left: 30px;
  border:none;
  padding: 8px 20px;
  color :white;
  background-color: rgba(0,85,90,255);
  font-size: 19px;
  border-radius: 30px;
}
.button button:hover{
  color: yellow;
}
.hayarat{
  margin-top: 105px;
  
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;



}
.hayaratimg{

  
  overflow: hidden;
  position: relative;
}
.image2{
  position:relative
}
.hayaratover{
  position: absolute;
  top: 15px;
  left: 35px;
  font-size: 25px;
}
.image2 img{
  width: 610px;
  height: 405px;
  
}
.hayarat-expl{

  font-size: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.site2-name{
  font-size: 27px;

  color: rgba(0,85,90,255);
  padding: 10px 30px;
  font-weight: 700;
  text-align: center;
  
}
.site2-explain{
  width: 400px;
  
}

.lo-button{
  margin-left: 40%;
  margin-top: 50px;
}
.lo-button button{
  border: 2px solid rgba(0,85,90,255);
  color:rgba(0,85,90,255) ;
  background-color: transparent;
  padding: 10px 45px;
  font-size: 19px;

}
.lo-button button:hover{
  background-color:rgba(0,85,90,255);
  color: white;
  cursor: pointer;
}
.choose{
  margin-top: 100px;
  height: 400px;
  background-color:white;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-around;
text-align: center;
}
.alres{
  margin-top: 20px;
  display: flex;

 
   
}
.why{
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size:40px;
  width: 300px;
  background-image: linear-gradient(170deg,  rgba(0, 85, 90, 0.7),  rgba(0, 85, 90, 0.7),rgb(193, 193, 4),yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.alres1{
  margin-right: 130px;
}
.alres1 div span,.alres2 div span{
  font-size: 21px;

  color:  rgba(0,85,90,255);
  font-weight: 700;

}
.alres1 div span p,.alres2 div span p{
  color: lightgray;
  margin-top: 30px;
}
.topal ,.topal2 {
  margin-bottom: 120px;
  align-items: center;
}
.topal2 img ,.botp img,.topal img,.botp2 img{
  display: block;
  margin: 0 auto;
  
}
.topal img,.botp2 img{
  max-width: 40px;
}
.story{
  margin-top: 120px;
  margin-bottom: 300px;
  position: relative;
  
  
}
.story::before{
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 85, 90, 0.8);
  backdrop-filter: blur(0px);
}



.story-pic{
  height: 400px;
  width: 100%;
 
}
.story-text { 
  width: 320px ;
  position: absolute;
  top: -50px;
  right: 50PX;
  bottom: -90px;
  height: 120%;
  border: 5px solid  rgba(0,85,90,255);
  background-color:rgba(255, 255, 255,0.7); 
  color:  rgba(0,85,90,255);
  border-radius: 50px; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;


}
.story-text2{
position: absolute;
top: 60px;
color:gold;
font-weight: 900;
padding: 5px 30px;
left: 20%;
background-color:rgba(255, 255, 255,1); 
font-size: 23px;
}
.story-text3{
  width: 850px;
  position: absolute;
  top: 170px;
  display: flex;
  justify-content: space-around;
  
}
.story-text3 div{
  width: 200px;
  background-color:rgba(255, 255, 255,0.7); 
  color:  rgba(0,85,90,255);
  padding: 10px 30px;
}


    /* Section and image styling */
    .sec {
      position: relative;
      width: 100%;
      height: 100vh; /* Adjust as needed */
    }

    .sec img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0); /* Dark overlay */
      font-weight: 700;
      font-size: 50px;
      background-image: linear-gradient(170deg,  rgba(0, 85, 90, 0.7),  rgba(0, 85, 90, 0.7),rgb(193, 193, 4),yellow);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    /* Text that will have the writing effect */
    .writing-text {
      font-family: 'Playfair Display', serif;
      font-size: 48px;
      color: white;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid white; /* Cursor effect */
      width: 0; /* Hidden initially */
      animation: typing 4s steps(10, end) forwards, blink-caret 0.75s step-end infinite, stopBlink 4s forwards;
    }

    /* Typing animation */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    /* Blinking cursor animation */
    @keyframes blink-caret {
      50% {
        border-color: transparent;
      }
    }

    /* Stop blinking after text is fully written */
    @keyframes stopBlink {
      from {
        border-right-color: white;
      }
      to {
        border-right-color: transparent;
      }
    }